.links li {
    display: inline;
    font-size: 30px;
    margin: 10px;
    background-color: #b78757;
}




body {
    background-image: url("img/bc1.jpg");
    background-size: cover;
}

nav {
    display: inline;
}

img {
    float: left;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 25px;
}


div.fig1 {
    float: left;
    width: 30%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    display: inline;

    left: 50px;
    top: 100px;
}

div.fig2 {
    float: left;
    width: 30%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    display: block;
    left: 50px;
    top: 600px;

}

div.fig3 {
    float: left;
    width: 30%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    display: block;
    position: absolute;
    left: 50px;
    top: 1400px;
}

.list {
    max-width: 1400;
    margin: 20px auto;
}

.list li {
    border-bottom: 1px solid #ccc;
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.li-sub li {
    margin: 0;
}

.li-img img {
    display: block;
    width: 100%;
    height: auto;
}

.li-text {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}

.li-head {
    margin: 10px 0 0 0;
}

.li-sub {
    margin: 0;
}

.li-img,
.li-text,
.list li {
    display: block;
    float: none;
}

footer {
    font-size: 30px;
    display: inline;
    background-color: #b78757;
}

h2 {
    font-size: 39px;
}