body {
    background-image: url("img/bc.jpg");
    background-size: cover;
}

.links li {
    display: inline;
    font-size: 30px;
    margin: 10px;
    background-color: #b78757;
}

nav {

    text-align: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: inline;
}

h1 {
    font-size: 200px;
    text-align: center;
    color: #7646ae;
    margin: 150px 20px 0 20px;
    text-shadow: 7px 7px 10px #cf93de;
}

p {
    font-size: 50px;
    text-align: center;
    color: #9d021a;
    margin: 0 20px 20px 20px;
}

footer {
    font-size: 30px;
    display: inline;
    background-color: #b78757;

}

ul.contact {
    display: block;
    position: absoluut;
    font-size: 50px;
    text-align: left;
}